ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFB6C1;
}

#bio {
    content: "";
  display: table;
  clear: both;
  background-color: #e6e6fa;
    margin: 10px 20px 20px 20px;
    border: 100px;
    padding: 24px 26px;
    float: left;
}

#talkaboutme {
margin: 20px 20px 20px 20px;
padding: 100px 100px 100px 100px;
float: left;
background-color: #ffd1dc;
}
img {
    float: left;
    clear: both;
}

body {
    background-color: #E6DBFF;
}
article, header, nav, aside, section, footer {
display: block;
min-height: 100px; }

header {
    background-color: #DF3D82;
    padding: 10px;
    color: #E6DBFF;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    padding: 0px 80px;
    font-size: 28px;
}
h3 {
    text-align: center;
}

#contact me {
    float: right;
    margin: 10px;
}

aside {
    float: right;
    list-style-type: none;
    background-color: #85C1E9;
    padding: 10px 10px 10px 10px;
    margin:  10px 10px 10px 10px;

}
#profpic {
    padding: 10px 10px 10px 10px;
    
}
.work {
    position: relative;
    width: 100%;
    border: 3px solid;
}
.picone {
        padding: 10px 10px 10px 10px;
        height: 50px;
        width: 50px;
        display: block;
        margin: 10px 10px 10px 10px;;
        float: right;
        text-align: center;

}
.pictwo {
        padding: 10px 10px 10px 10px;
        height: 50px;
        width: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: right;
        text-align: center;
}
.picthree {
        padding: 10px 10px 10px 10px;
        height: 50px;
        width: 50px;
        display: block;
        margin: 10px 10px 10px 10px;
        float: right;
        text-align: center;
}
#portfolioimage1 {
    display: block;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 20px 20px 20px 20px;
    list-style-type: none;
    background-color: #ddf9d9;
    text-align: center;
}
#portfolioimage2 {
    display: block;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 20px 20px 20px 20px;
    list-style-type: none;
    background-color: #ec6778;
    text-align: center;
}
#portfolioimage3 {
    display: block;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 20px 20px 20px 20px;
    list-style-type: none;
    background-color: #beaded;
    text-align: center;
}
#portfolioimage4 {
    display: block;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 20px 20px 20px 20px;
    list-style-type: none;
    background-color: #decade;
    text-align: center;
}
#portfolioimage5 {
    display: block;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 20px 20px 20px 20px;
    list-style-type: none;
    background-color: #deface;
    text-align: center;
}
#portfolioimage6 {
    display: block;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 20px 20px 20px 20px;
    list-style-type: none;
    background-color: #d1fff4;
    text-align: center;
}


